.green {
    border-color: lightgreen;
    border-width: 0.1rem;
}
  
.red {
color: red;
border-color: red;
border-width: 0.1rem;
}

.input {
padding: 10px;
}

#app {
font-family: 'Avenir', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
color: #2c3e50;
}

#nav {
padding: 30px;
}

#nav a {
font-weight: bold;
color: #2c3e50;
}

#nav a.router-link-exact-active {
color: #42b983;
}

.beige {
background-color: #f4f4f4;
}

.hrColor {
background: #FF95D6;
}

.info-color {
background: #FEF2F9;
color: #2c3e50;
}

.btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.beige {
  background-color: white;
}

.remove-pad {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-light .navbar-nav .nav-link{
  color: #ffc038;
}

a.nav-link.btn.btn-dark {
  padding: 12px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: antiquewhite;
}