{% load static %}

{% block pagecss %} 
<link rel="stylesheet" href="{% static 'css/questionnaire/style.css' %}">
{% endblock pagecss %}

{% block questionnaire %}

<div id="questionnaire" class="container">
    <div class="row">
        <div class="col-lg-12">
			<div v-if="errors.length !== 0">

			</div>
			<form>
				<div class="card mb-4" style="border: none;" >
					<div class="card-header py-3" style="background-color: white;">
						<h2> Question here ! [[ getCurrentQuestion.question ]] </h2>
					</div>
					<!-- Card Body -->
					[[selected]]
					<div class="card-body form-check">
						<div class="form-check mt-3">
							<div v-if="getCurrentQuestion.options.length == 0">
								<label class="form-check-label">
									<input :type="getCurrentQuestion.type" class="form-check-input">
								</label>
							</div>

							<div v-else>
								<div class="radio container" v-for="option in getCurrentQuestion.options">
									<label class="form-check-label">
										<input :type="getCurrentQuestion.type" :value="option" :name="getCurrentQuestion.type" class="form-check-input" v-model="selected" multiple> [[option]]
									</label>
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div v-if="qindex !== 0" class="col-12 col-sm-6 col-md-4 mt-3">
								<div class="btn btn-primary" style="width: 100%;" v-on:click="onPrev"> Prev </div>
							</div>
							<div class="col-12 col-sm-6 col-md-4 mt-3 ">
								<div v-if="qindex !== questions.length-1" class="btn btn-primary" style="width: 100%;" v-on:click="onNext"> Next </div>
								<div v-if="qindex === questions.length-1" class="btn btn-primary" style="width: 100%;" v-on:click="onNext"> Submit </div>
							</div>
						</div>
						<div class="progress progress-sm mr-2 mt-4"> 
							<div 
								class="progress-bar bg-info" 
								role="progressbar"
								v-model="getProgressBarWidth"
								v-bind:style="progressBarWidth"
								aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
				</div>		
		    </form>
        </div>
    </div>
</div>

<style>
	a:link {
		color: red;
	}
</style>

<script>
	new Vue({
		delimiters: ["[[", "]]"],
		data() {
			return {
				selected: [],
				phase: 0,
				endPhase: 10,
				qindex: 0,
				questions: [
					{
						question: "This is Ques 1",
						options: [
							"option 1",
							"option 2",
							"option 3",
						],
						type: "radio",
					},
					{
						question: "This is Ques 2",
						options: [
							"option 1",
							"option 2",
						],
						type: "checkbox"
					},
					{
						question: "This is Ques 3",
						options: [
							"option 1",
							"option 2",
							"option 3",
							"option 4"
						],
						type: "checkbox"
					}
				],
				responses: [
				],
				progressBarWidth: {
					width: this.getProgressBarWidth + "%",
				},
				errors: [

				],
			}
		},
		created() {
			// axios.post(`https://localhost:8000/api/dashboard/getQuestionnaire/`, {
			// 	body: this.form
			// })
			// .then(response => {
			// 	console.log(response)
			// 	this.phase = response.phase;
			// 	this.questions = response.questions
			// 	this.responses = new Array(this.questions.length);
			// 	this.qindex = 0;
			// })
			// .catch(e => {
			// 	this.errors.push(e)
			// })
		},
		methods: {
			onNext(evt) {
				console.log("Next ...")

				if(this.selected.length != 0) {
					// append selected in response
					if(this.qindex == this.responses.length) {
						this.responses.push(this.selected);
					}
					else {
						this.responses[this.qindex] = this.selected;
					}

					this.qindex++;
					this.selected = [];
				}
				else {
					// error

				}

				// let respDataStr = response.data
				// let jsObject = JSON.parse(respDataStr)
				// this.windows = jsObject

				// axios.post(`https://localhost:8000/api/users/register/`, {
				// 	body: this.form
				// })
				// .then(response => {
				// 	console.log(response)
				// 	// currentQuestion = response.nextQuestion
				// })
				// .catch(e => {
				// 	this.errors.push(e)
				// })
			},
			onPrev(evt) {
				console.log("Prev ...")
				this.qindex--;

				this.selected = this.responses[this.qindex];

				// axios.post(`https://localhost:8000/api/users/register/`, {
				// 	body: this.form
				// })
				// .then(response => {
				// 	console.log(response)
				// })
				// .catch(e => {
				// 	this.errors.push(e)
				// })
			},
		},
		computed: {
			getCurrentQuestion() {
				return this.questions[this.qindex];
			},
			getProgressBarWidth() {
				var val = ((this.qindex+1)/this.questions.length)*100;
				this.progressBarWidth.width = val.toString() + "%";
				return val;
			}
		}
	}).$mount('#questionnaire');


</script>

{% endblock questionnaire %}
