{% load static %}

{% block pagecss %} 
<link rel="stylesheet" href="{% static 'css/questionnaire/style.css' %}">
{% endblock pagecss %}

{% block questionnaire %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
			
			<form>
				<div class="card mb-3" style="border: none;" >
					<div class="card-header py-6" style="background-color: white;">
						<h5><b> [[ getCurrentQuestion.body ]] </b></h5>
					</div>
					<!-- Card Body -->
					
					<div class="card-body form-check">
						<div class="form-check mt-1" style="padding-top:0px" v-bind="updateError">
							<div v-if="getCurrentQuestion.option.length == 0">
								<label class="form-check-label">
									<input :type="getCurrentQuestion.type" :value="option.body" class="form-check-input" v-model="selected">
								</label>
							</div>
							<div v-else>
								<div class="radio container" v-for="opt in getCurrentQuestion.option">
									<label class="form-check-label">
										<input :type="getCurrentQuestion.type" :value="opt.body" :name="getCurrentQuestion.type" class="form-check-input" v-model="selected" multiple> [[opt.body]]
									</label>
								</div>
							</div>
							
						</div>
						
						<div class="row">
							<div v-if="qindex !== 0" class="col-12 col-sm-6 col-md-4 mt-3">
								<div class="btn btn-primary" style="width: 100%;" v-on:click="onPrev"> Prev </div>
							</div>
							<div class="col-12 col-sm-6 col-md-4 mt-3 ">
								<div v-if="qindex !== questions.length-1" class="btn btn-primary" style="width: 100%;" v-on:click="onNext"> Next </div>
								<div v-if="qindex === questions.length-1" class="btn btn-primary" style="width: 100%;" v-on:click="onSubmit"> Submit </div>
							</div>
						</div>
						<div class="progress progress-sm mr-2 mt-4"> 
							<div 
								class="progress-bar bg-info" 
								role="progressbar"
								v-model="getProgressBarWidth"
								v-bind:style="progressBarWidth"
								aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
						
					</div>
				</div>		
			</form>
			<small class="red">
				<div v-if="errors.length !== 0" class="alert-danger" v-for="error in errors">
					<li>[[error]]</li>
				</div>
			</small>
        </div>
    </div>
</div>

<style>
	a:link {
		color: red;
	}
</style>

<script>
	new Vue({
		delimiters: ["[[", "]]"],
		data() {
			return {
				name: "Questionnaire Name",
				phase: 0,
				qindex: 0,
				endPhase: 10,
				pageCreated: 0,
				selected: [],
				questions: [
					{
						question: "This is 	Ques 1",
						options: [
							{
								body: "option1",
							},
							{
								body: "option2",
							},
							{
								body: "option3",
							}
						],
						type: "radio",
					},
					{
						question: "This is Ques 2",
						options: [
							{
								body: "option1",
							},
							{
								body: "option2",
							},
							{
								body: "option3",
							}
						],
						type: "radio"
					},
					{
						question: "This is Ques 3",
						options: [
							{
								body: "option1",
							},
							{
								body: "option2",
							},
							{
								body: "option3",
							}
						],
						type: "checkbox"
					}
				],
				responses: [
				],
				progressBarWidth: {
					width: this.getProgressBarWidth + "%",
				},
				errors: [
				],
			}
		},
		created() {
			axios.get(`http://127.0.0.1:8000/api/questionnaire/next_questionnaire/`)
			.then(response => {
				console.log(response.data)
				this.qindex = 0;
				this.name = response.data.name;
				this.phase = response.data.phase;
				if (response.data.question.length == 0)
					this.questions = [];
				else
					this.questions = response.data.question;
				this.responses = new Array(this.questions.length);
			})
			.catch(e => {
				this.errors.push(e)
			})
		},
		methods: {
			onNext(evt) {
				console.log("Next ...")
				this.errors = [];

				if(this.selected.length != 0) {
					// append selected in response
					if(this.qindex == this.responses.length) {
						this.responses.push(this.selected);
					}
					else {
						this.responses[this.qindex] = {
							identifier: this.getCurrentQuestion.identifier,
							body: this.selected
						}
					}

					this.qindex++;
					this.selected = [];
				}
				else {
					this.errors.push("Select atleast one option");
				}

				// let respDataStr = response.data
				// let jsObject = JSON.parse(respDataStr)
				// this.windows = jsObject

				// axios.post(`http://localhost:8000/api/users/register/`, {
				// 	body: this.form
				// })
				// .then(response => {
				// 	console.log(response)
				// 	// currentQuestion = response.nextQuestion
				// })
				// .catch(e => {
				// 	this.errors.push(e)
				// })
			},
			onPrev(evt) {
				console.log("Prev ...")
				this.qindex--;
				this.errors = [];

				this.selected = this.responses[this.qindex];

				// axios.post(`http://localhost:8000/api/users/register/`, {
				// 	body: this.form
				// })
				// .then(response => {
				// 	console.log(response)
				// })
				// .catch(e => {
				// 	this.errors.push(e)
				// })
			},
			onSubmit(evt) {
				console.log("Submitting ...")
				this.responses[this.qindex] = {
					identifier: this.getCurrentQuestion.identifier,
					body: this.selected
				}
				console.log(this.responses)
				axios.post(`http://127.0.0.1:8000/api/questionnaire/submit_questionnaire/`, {withCredentials: true})
				.then(response => {
					this.qindex = 0;
					this.name = response.data.name;
					this.phase = response.data.phase;
					this.questions = response.data.question;
					this.responses = new Array(this.questions.length);
				})
				.catch(e => {
					this.errors.push(e)
				})
			},
		},
		computed: {
			updateError() {
				if (this.selected.length !== 0)
					this.errors = [];
			},
			getCurrentQuestion() {
				if (this.questions.length > 0) {
					if (this.questions[this.qindex].multiselect)
						this.questions[this.qindex].type = "checkbox";
					else  
						this.questions[this.qindex].type = "radio";
				}
				return this.questions[this.qindex];
			},
			getProgressBarWidth() {
				var val = ((this.qindex+1)/this.questions.length)*100;
				this.progressBarWidth.width = val.toString() + "%";
				return val;
			}
		}
	}).$mount('#questionnaire');


</script>

{% endblock questionnaire %}
