{% extends 'dashboard.html' %}

{% load static %}

{% block title %} 
{{post_category}}
{% endblock title %}

{% block pagecss %} 
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock pagecss %}

{% block dashboardPage %}
<!-- Begin Page Content -->

<div id="postsOffered" class="container">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 font-weight-bold text-gray-800"> {{ post_category }} </h1>
	</div>

	<div v-if="!questionnaireStarted" class="alert alert-warning p-3" role="alert">
		<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button> -->
		Either You have not started the <a href="{% url 'dashboard-home' %}#questionnaireRow" >Questionnaire </a>. or there are no {{post_category}} posted yet that matches your questionnaire responses.
	</div>

	<div class="row" v-else>
		<div :class="[cols == 1 ? 'col-12' : 'col-6']" v-for="column in columns">
			<div class="item-container" v-for="item in column">
				<!-- Dropdown Card Example -->
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div id="formFooter" class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
						<div class="col-12 align-items-center center">
							<h6 class="m-0 font-weight-bold" name="post-title">[[ item.title ]]</h6>
							<h7 class="m-0" name="post-author"> Author: [[ item.author ]] </h7>
						</div>

						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<i class="fa fa-ellipsis-v fa-sm fa-fw"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
								aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="row">
							<div class="col-12 center">
								[[ item.preview ]]
							</div>
						</div>
						<div class="row">
							<div class="col-12 center">
								<a class="btn btn-dark" :href=item.relative_url role="button" target="tab">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End of Main Content -->

<script type="application/javascript">
	new Vue({
		delimiters: ["[[", "]]"],
		is_expert: "{{ is_expert }}",
		data() {
			return {
				cols: 1,
				count: 1,
				questionnaireStarted: false,
				message: 'You have not started the questionnaire. ',
				PostsList: [
					{
						header: "Jet King1",
						short_body: "",
						body: "This institute is a leader in the field of IT & Networking training. They have many training centers across Delhi & Gurgaon.",
						image: "https://www.coursecrown.com/blog/wp-content/uploads/2017/05/Jetking-courses-fees-1.jpg",
						link: "https://www.jetking.com/",
						readMore: ""
					},
				],
				errors: [
				],
			}
		},
		created() {			
			this.getPostsList()
		},
		methods: {
			getAllPosts() {
				axios.get(`{% url 'api-blog-posts' %}?post_type={{post_type}}`)
					.then(response => {
						this.count = this.PostsList.length;
						this.PostsList = response.data;
					})
					.catch(e => {
						this.errors.push(e)
					})
			},
			getPostsList() {
				console.log("{{ user.is_expert }}")
				if ("{{ user.is_expert }}" == "True") {	
					console.log("Expert")
					this.getAllPosts()
				}
				else {
					console.log("Student")
					axios.get(`{% url 'api-blog-tagged-posts' %}?post_type={{post_type}}`)
						.then(response => {
							this.count = this.PostsList.length;
							this.PostsList = response.data;
							if (this.PostsList == undefined || this.PostsList.length == 0) {
								this.questionnaireStarted = false
								// this.getAllPosts()
							}
							else {
								this.questionnaireStarted = true
							}
						})
						.catch(e => {
							this.errors.push(e)
						})
				}
			}
		},
		computed: {
			columns() {
				// console.log(globalThis.innerWidth)
				if (globalThis.innerWidth <= 768)
					this.cols = 1;
				else
					this.cols = 2;

				let columns = [];
				let mid = Math.ceil(this.PostsList.length / this.cols);
				for (let col = 0; col < this.cols; col++) {
					columns.push(this.PostsList.slice(col * mid, col * mid + mid));
				}
				return columns;
			}
		}
	}).$mount('#postsOffered');

</script>

<style>
	#courses-image {
		display: block;
		width: 100%;
	}

</style>

{% endblock dashboardPage %}