{% extends 'dashboard.html' %}
{% load static %}
{% load comments %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock pagecss %}
 
{% block dashboardPage %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="item-container">
                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div id="formFooter" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-12 align-items-center center">
                            <h6 class="m-0 font-weight-bold">{{ post.title }}</h6>
                        </div>
                    </div>
                    
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                {{ post.body|safe }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-dark text-warning" :href=item.link role="button" target="tab">Go to Website</a>
                            </div>
                        </div>
                        <div class="row">
                            {% get_comment_count for post as comment_count %}
                            <div class="py-4 text-center">
                            &nbsp;&sdot;&nbsp;
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                            ha{{ comment_count|pluralize:"s,ve" }} been posted.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var images = document.images;

    for (var i = 1; i < images.length; ++i) {
        var image = images[i];
        image['id'] = 'blog-img'
    }
</script>

<style>
    #blog-img {
        max-width: 100%;
        display: block;
    }
</style>

{% endblock dashboardPage %}