{% extends 'dashboard.html' %}
{% load static %}
{% load comments %}
{% load bleach_tags %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock pagecss %}
 
{% block dashboardPage %}

<div class="container" id="post">
    <div class="row">
        <div class="col-12">
            <div class="item-container">
                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->

                    
                    <div id="formFooter" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-12 align-items-center center">
                            <h6 class="m-0 font-weight-bold">{{ post.title }}</h6>
                        </div>
                    </div>
                    
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 center" id="post-body">
                                {{ post.body|bleach }}
                            </div>
                        </div>

                        <!-- <hr/> -->

                        {% if not user.is_expert %}
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="input-file">Upload Your Submission</label> <br>
                                        <input type="file" id="input-file" class="btn btn-dark" name="upload_file">
                                        
                                        <button type="submit" class="btn btn-dark" style="padding: 8px;">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <hr/>

                        <div class="row">
                            {% get_comment_count for post as comment_count %}
                            <div class="py-4 text-center">
                            &nbsp;&sdot;&nbsp;
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                            ha{{ comment_count|pluralize:"s,ve" }} been posted.
                            </div>
                        </div>

                        

                        <div class="row">
                            {% if post.allow_comments %}
                            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <h4 class="card-title text-center pb-3">Post your comment</h4>
                                        {% render_comment_form for post %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        
                        <hr/>

                        <div class="row">
                            {% if comment_count %}
                            <!-- <hr/> -->
                            <div class="col-12">
                                <!-- <div class="card shadow">
                                    <div class="card-body"> -->
                                    <div class="comments">
                                        {% render_comment_list for post %}
                                    </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var images = document.images;

    for (var i = 1; i < images.length; ++i) {
        var image = images[i];
        image['id'] = 'blog-img'
    }

    function goToCoursesPage() {
        window.history.back();
    }


</script>

<style>
    #blog-img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #post-body {
        overflow:auto;
    }

    .btn {
        max-width: 75%;
    }
</style>

{% endblock dashboardPage %}