{% extends 'base.html' %}
{% load static %}

{% block title %} 
Student Registration
{% endblock title %}

{% block pagecss %} 
<link rel="stylesheet" href="{% static 'css/registration/style.css' %}">
{% endblock pagecss %}

{% block signup %}

<div class="wrapper fadeInDown">
	<div id="formContent">
	  	<div class="fadeIn first container">
		  	<div class="row info-color">
			  	<div class="col-sm-6 offset-sm-3 ">
					<h3 class="white-text text-center py-4">
						<strong>Register</strong>
					</h3>
				</div>
			</div>
		</div>
  
	  	<!-- Login Form -->
	  	<div class = "fadeIn second">
		  	<form method="post" class="col-12" action="{% url 'users-register' %}">
				{% csrf_token %}
				
				<div class="form-group custom-control">
					<label for="input-toggle-user">Register as</label> <br>
					<input 
						id="input-toggle-user"
						type="checkbox" 
						name="is_expert" 
						class="toggle-input"
						{% if form.is_expert.value %} checked {% endif %}
						data-toggle="toggle" 
						data-on="Expert" 
						data-off="Student" 
						data-onstyle="success" 
						aria-describedby="toggleHelp"
						data-offstyle="warning">
					<small 
						id="toggleHelp" 
						class="form-text text-muted">
						Click on above toggle button to change the type of user.
					</small>
				</div>

				<div class="form-group">
					<label for="input-first-name">First Name</label>
					<input 
						class="form-control" 
						{% if form.first_name.value != None %} value="{{ form.first_name.value|stringformat:'s' }}"{% endif %}
						id="input-first-name"
						name="first_name"
						required>
					<small class="red">
				        {% for error in form.first_name.errors %}
				            <div class="alert-danger">
				                <strong>{{ error }}</strong>
				            </div>
				        {% endfor %}
					</small>
				</div>

				<div class="form-group">
					<label for="input-last-name">Last Name</label>
					<input 
						class="form-control" 
						{% if form.last_name.value != None %}value="{{ form.last_name.value|stringformat:'s' }}"{% endif %}
						id="input-last-name" 
						name="last_name"
						required>
					<small class="red">
				        {% for error in form.last_name.errors %}
				            <div class="alert-danger">
				                <strong>{{ error }}</strong>
				            </div>
				        {% endfor %}
					</small>
				</div>
				
				<div class="form-group">
					<label for="input-email">Email address</label>
					<input 
						type="email" 
						class="form-control" 
						{% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
						id="input-email" 
						aria-describedby="emailHelp"
						name="email">

					<small class="red">
				        {% for error in form.email.errors %}
				            <div class="alert-danger">
				                <strong>{{ error }}</strong>
				            </div>
				        {% endfor %}
					</small>
					<small 
						id="emailHelp" 
						class="form-text text-muted">
						We'll never share your email with anyone else.
					</small>
				</div>

				<div id="passwordChecking">
					<div class="form-group">
						<label for="input-password">Password</label>
						<input 
							v-model="password"
							type="password"
							class="form-control" 
							id="input-password" 
							name="password"
							required>
						<small class="red">
					        {% for error in form.password.errors %}
					            <div class="alert-danger">
					                <strong>{{ error }}</strong>
					            </div>
					        {% endfor %}
						</small>
					</div>
					<div class="form-group">
						<label for="input-confirm-password">Confirm Password</label>
						<input 
							v-model="confirmPassword"
							type="password"
							:class="[confirmPassword.length === 0 ? '' : [matchPassword ? 'green' : 'red']]"
							class="form-control"
							id="input-confirm-password" 
							required>
					</div>
				
					<div class="form-group date" id="datetimepicker1" data-target-input="nearest">
						<label for="input-date-of-birth">Date of Birth</label>
						<input 
							type="date"
							class="form-control" 
							{% if form.date_of_birth.value != None %}value="{{ form.date_of_birth.value|stringformat:'s' }}"{% endif %}
							id="input-date-of-birth"
							name="date_of_birth" >
						<small class="red">
					        {% for error in form.date_of_birth.errors %}
					            <div class="alert-danger">
					                <strong>{{ error }}</strong>
					            </div>
					        {% endfor %}
						</small>	
					</div>
					
					<input name="login" type="submit" :disabled="matchPassword === false" value="Register" class="fadeIn third btn btn-success"/> &nbsp;
					{% if error_message %}
					<br>
					<small class="red">{{ error_message }}</small> 	
					{% endif %}
				</div>
		  	</form>
	 	</div>
	</div>
</div>


{% endblock signup %}


{% block vueinstance %}
<script>

	// function calc()
	// {
	// 	if (document.getElementById('toggle-user').checked) 
	// {
	// 	// send to my view ON
	// } else {
	// 	// send to my view OFF
	// }
	// }

	new Vue({
		delimiters: ["[[", "]]"],
		data() {
			return {
				password: '',
				confirmPassword: '',
			}
		},
		computed: {
			matchPassword() {
				return this.password==this.confirmPassword;
			},
		}
	}).$mount('#passwordChecking');
</script>
{% endblock vueinstance %}