{% extends 'base.html' %}
{% load static %}

{% block title %} 
Login
{% endblock title %}

{% block pagecss %} 
<link rel="stylesheet" href="{% static 'css/users/style.css' %}">
{% endblock pagecss %}


{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
	<!-- Tabs Titles -->

	<!-- Icon -->
      <div class="fadeIn first container">
          <div class="row padding">
              <div class="col-sm-6 offset-sm-3">
                  <img src="{% static 'images/userIcon.png' %}" id="icon" alt="User Icon" class="responsive"/>
              </div>
          </div>
      </div>

      <!-- Login Form -->
      <div>
          <form method="post" class="col-12" action="{% url 'users-login' %}">
              {% csrf_token %}
			  <input 
					type="email" 
					id="email" 
					class="fadeIn second" 
					name="email" 
                    placeholder="email" 
                    style="border: 2px solid #ffc038;"
					required>
			  <input 
					type="password" 
					id="password" 
					class="fadeIn third" 
					name="password" 
                    placeholder="password"
                    style="border: 2px solid #ffc038;"
					required>
			  <input name="login" type="submit" value="Login" class="fadeIn third btn btn-success"/> &nbsp;
			  	<small style="color:red">
					{% for error in form.non_field_errors %}
						<div class="alert-danger" style="margin-left:5px;">
							<strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </small>
          </form>
      </div>

      <!-- Remind Passowrd -->
      <div id="formFooter">
          <div class="conatiner">
              <div class="row justify-content-center">
                  <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
              </div>
              <div class="row justify-content-center">
                  <div class="col-sm-6">
                      <a class="underlineHover" href="{% url 'users-register' %}">Register</a>
                  </div>

              </div>
          </div>

      </div>

  </div>
</div>

{% endblock content %}