{% extends 'dashboard.html' %}

{% load static %}

{% block title %} 
Welcome {{ request.user.first_name }} !
{% endblock title %}

{% block pagecss %} 
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock pagecss %}

{% block dashboardPage %}
    <!-- Begin Page Content -->
    <div id="questionnaire" class="container">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Take Questionnaire Card -->
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-left-primary shadow h-100 py-2" id="questionnaireBtn">
                    <a href="#questionnaireRow" style="text-decoration: none;">
                    <div class="card-body" >
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        </div> -->
                                    <div class="h5 mb-0 font-weight-bold"><btn> Take Questionnaire </btn></div>
                                </div>
                                <!-- <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div> -->
                            </div>
                    </div>
                    </a>
                </div>
            </div>

            <!-- Questionnaire Path Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Path Completion </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">
                                            <p v-if="questionnaireCompleted">
                                                Completed
                                            </p>
                                            <p v-else>
                                                You are on Phase: [[phase]]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-10 offset-lg-1">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Welcome!</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
    
                    </div>
                    <img src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMDY0MzYzOC9vcmlnaW4ucG5nIiwiZXhwaXJlc19hdCI6MTY2Njg3NjU5MH0.KYtk6xADFdG1fYpzOLsLEHF79dOTz1q4tpWgxmq2w0U/img.png?width=980">
                </div>
            </div>

        </div>

        <!-- Content Row -->

        <div class="row" id="questionnaireRow">
            <div class="col-lg-10 offset-lg-1">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Questionnaire</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        {% include 'questionnaire.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<style>
#questionnaireBtn:hover .card-body:hover{
    background-color: #4e73df;
    color: white;
}
</style>

{% endblock dashboardPage %}