{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
    Welcome {{ request.user.first_name }} !
{% endblock title %}

{% block pagecss %}
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock pagecss %}

{% block dashboardPage %}
    <!-- Begin Page Content -->
    <div id="questionnaire" class="container">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Take Questionnaire Card -->
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-left-primary shadow h-100 py-2" id="addCourseBtn">
                    <a href="#addCourse" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        </div> -->
                                    <div class="h5 mb-0 font-weight-bold">
                                        <btn> Add Courses </btn>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="	fas fa-book fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Questionnaire Path Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2" id="addArticleBtn">
                    <a href="#addArticle" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        </div> -->
                                    <div class="h5 mb-0 font-weight-bold">
                                        <btn> Add Article </btn>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-newspaper fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Questionnaire Path Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-purple shadow h-100 py-2" id="addProjectBtn">
                    <a href="#addProject" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        </div> -->
                                    <div class="h5 mb-0 font-weight-bold">
                                        <btn> Add Project </btn>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-tasks fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Questionnaire Path Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2" id="addJobBtn">
                    <a href="#addJob" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        </div> -->
                                    <div class="h5 mb-0 font-weight-bold">
                                        <btn> Add Job </btn>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-10 offset-lg-1">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Welcome!</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
    
                    </div>
                    <img src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMDY0MzYzOC9vcmlnaW4ucG5nIiwiZXhwaXJlc19hdCI6MTY2Njg3NjU5MH0.KYtk6xADFdG1fYpzOLsLEHF79dOTz1q4tpWgxmq2w0U/img.png?width=980">
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <style>
        #addCourseBtn:hover .card-body:hover {
            background-color: #4e73df;
            color: white;
        }

        #addArticleBtn:hover .card-body:hover {
            background-color: #1cc88a;
            color: white;
        }

        #addProjectBtn:hover .card-body:hover {
            background-color: #6f42c1;
            color: white;
        }

        #addJobBtn:hover .card-body:hover {
            background-color: #f6c23e;
            color: white;
        }

        .border-left-purple {
            border-left: 0.25rem solid #6f42c1 !important;
        }

</style>

{% endblock dashboardPage %}