{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
	Welcome {{ request.user.first_name }} !
{% endblock title %}

{% block pagecss %}
	<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home-admin/style.css' %}">
{% endblock pagecss %}

{% block dashboardPage %}
	<div  id="admin-dashboard">
		<!-- Begin Page Content -->
		<div class="container">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">Dashboard - Admin</h1>
				<div class="float-right">
					<!-- <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
						<i class="fas fa-th-large"></i>
					</a> -->
				</div>
			</div>
			
			<div class="row">
				<div class="col-8">
					<div class="card shadow mb-4" v-if="viewQuestionnaire != null">
						<!-- Card Header - Dropdown -->
						<div id="formFooter" class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
							<div class="col-12 align-items-center center">
								<h6 class="m-0 font-weight-bold">
									[[ viewQuestionnaire.name ]]
									<button class="btn btn-dark float-right" v-on:click="addQuestion(viewQuestionnaire, viewQuestionnaire.question.length)" title="Add a question at the end">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
								</h6>
							</div>
						</div>
						

						<!-- Card Body -->
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<draggable v-model="viewQuestionnaire.question" group="question" @start="drag=true" @end="drag=false">
										<div class="card mb-3" style="border: none;" v-for="(question, q_idx) in viewQuestionnaire.question" :key="q_idx">
											<div class="card-header py-6" style="background-color: #fff2bf;">
												<div class="float-right">
													<button v-if="!question.editMode" class="btn btn-dark" v-on:click="editQuestion(question)" title="Edit the question below">
														<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													</button>
													<div v-if="question.editMode">
														<button class="btn btn-dark" v-if="question.editMode" v-on:click="saveQuestion(question)" title="Edit the question below">
															Save Question
														</button>
														[[ temp ]]
														<div class="form-group custom-control">
															<input 
																type="checkbox" 
																class="toggle-input"
																data-toggle="toggle" 
																data-on="Expert" 
																data-off="Student"
																v-model="temp"
																data-onstyle="warning" 
																data-offstyle="warning">
														</div>
													</div>
													<button v-if="question.editMode" class="btn btn-dark" v-on:click="addOption(question)" title="Add an option below">
														Add option
													</button>
													
													<button class="btn btn-dark" v-on:click="addQuestion(viewQuestionnaire, q_idx+1)" title="Add a question below">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button>

													<button href="#deleteQuestionModal" class="btn btn-dark trigger-btn" data-toggle="modal" v-on:click="deleteQuestionWarning(q_idx)" title="Delete this question">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button>
												</div>
											</div>
											
											<form>
												<div class="card-header py-6" style="background-color: white;">
													<h5><b> 
														<div v-if="question.editMode">
															<input type="text" :value="question.body" v-model="question.body">
														</div>
														<div v-else>
															<i class="fa fa-bars" aria-hidden="true"></i> 
															[[ question.body ]]
														</div>
													</b></h5>
												</div>
													
													
												<div class="card-body form-check">
													<div class="form-check mt-1" style="padding-top:0px">
														
														<div v-if="question.editMode">
															<!-- <draggable v-model="question.option" group="option" @start="drag=true" @end="drag=false"> -->
																<div class="container" v-for="(opt, opt_index) in question.option" :key="opt_index"> 
																	<!-- <i class="fa fa-bars" aria-hidden="true"></i>  -->
																	<input type="text" :value="opt.body" v-model="opt.body">
																	<a class="btn btn-dark" title="Remove Option" v-on:click="removeOption(question, opt_index)">
																		<i class="fa fa-minus" aria-hidden="true"></i>
																	</a>
																</div>
															<!-- </draggable> -->
														</div>
														<ul v-else v-for="opt in question.option">
															<li> [[ opt.body ]] </li>
														</ul>
													</div>
												</div>
											</form>
										</div>
									</draggable>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<!-- <div class="item-container"> -->
						<!-- Dropdown Card Example -->
						<div class="card shadow mb-4">
							<!-- Card Header - Dropdown -->
							<div id="formFooter" class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
								<div class="col-12 align-items-center center">
									<h6 class="m-0 font-weight-bold"> Questionares List
										<button class="btn btn-dark float-right" v-on:click="addQuestionnaire()" title="Add a question at the end">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</button>
									</h6>
								</div>
							</div>
							<!-- Card Body -->
							<div class="card-body">
								<div class="row">
									<div class="col-12 center">
										<button v-if="rootQuestionnaire" class="btn btn-dark" v-on:click="showQuestionnaire(rootQuestionnaire)">
											[[ rootQuestionnaire.name ]]
										</button>
									</div>
								</div>

								<draggable v-model="questionnairesList" group="questionnaire" @start="drag=true" @end="drag=false">
									<div class="row" v-for="(questionnaire, index) in questionnairesList" :key="index" v-if="index >= 1">
										<div class="col-12 center">
											<i class="fa fa-bars" aria-hidden="true"></i> 
											<button class="btn btn-dark" v-on:click="showQuestionnaire(questionnaire)">
												[[ questionnaire.name ]]
											</button>
										</div>
									</div>
								</draggable>
								
							</div>
						</div>
					<!-- </div> -->
				</div>
			</div>
			
		</div>
		<!-- End of Main Content -->
		
		<!-- Modal HTML -->
		<div id="deleteQuestionModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					
					<div class="modal-header flex-column">
						<div class="icon-box">
							<i class="fas fa-trash"></i>
						</div>						
						<h4 class="modal-title w-100">Are you sure?</h4>	
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete the question titled, " [[ deleteQuestionTitle ]] "? This process cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger" v-on:click="deleteQuestion()" data-dismiss="modal">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>

	</style>

	<script>
		new Vue({
			delimiters: ["[[", "]]"],
			data() {
				return {
					temp: true,
					message: "HAAAAAAAAA",
					viewQuestionnaire: null,
					deleteQuestionId: null,
					deleteQuestionTitle: null,
					rootQuestionnaire: null,
					questionnairesList: [
						{
							name: "Questionnaire 0",
							root: false,
							editMode: false,
							phase: 1,
							question: [
								{
									editMode: false,
									body: "P1 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P1 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P1 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P1 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						},
						{
							name: "Questionnaire 1",
							root: false,
							phase: 2,
							question: [
								{
									editMode: false,
									body: "P2 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P2 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P2 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P2 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						},
						{
							name: "Questionnaire 2",
							root: false,
							phase: 3,
							question: [
								{
									editMode: false,
									body: "P3 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P3 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P3 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P3 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						},
						{
							name: "Questionnaire 3",
							root: false,
							phase: 4,
							question: [
								{
									editMode: false,
									body: "P4 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P4 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P4 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P4 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						}
					],
				}
			},
			created() {
				this.getQuestionnaireAdmin();
				this.rootQuestionnaire = this.questionnairesList[0];
			},
			methods: {
				getQuestionnaireAdmin(evt) {
					axios.get(`{% url 'api-questionnaire-next-questionnaire' %}`)
					.then( response => {
						this.questionnairesList[0].question = response.data.question;

						for (let i = 0; i < this.questionnairesList[0].question.length; ++i) {
							if (this.questionnairesList[0].question.multiselect)
								this.questionnairesList[0].question.type = "checkbox";
							else
								this.questionnairesList[0].question.type = "radio";

						}

					})
					.catch(e => {
						console.log(e)
					})
				},
				
				showQuestionnaire(questionnaire) {
					this.viewQuestionnaire =  questionnaire
				},
				
				editQuestion(question) {
					console.log("Edit question:", question)
					question.editMode = true;
				},

				saveQuestion(question) {
					console.log("Save question:", question)
					question.editMode = false;
				},

				addQuestionnaire() {
					// !!!!!!! IMPORTANT
					console.log(this.questionnairesList)
					questionnaire_count = this.questionnairesList.length;
					new_questionnaire = {
									name: "Questionnaire ".concat(questionnaire_count.toString()),
									root: false,
									phase: questionnaire_count,
									question: []
								}

					this.questionnairesList.push(new_questionnaire);
					return; 
				},

				addQuestion(questionnaire, questionPos) {
					console.log("Adding new question at pos: ", questionPos)
					new_question = {
									editMode: false,
									body: "Enter question title here ...",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "Edit option ..."
										}
									]
								}

					if (questionPos == questionnaire.question.length) {
						questionnaire.question.push(new_question);
						return;
					}
					new_questionsList = []
					for (let i = 0; i < questionnaire.question.length; i++) {
						const element = questionnaire.question[i];
						if (questionPos == i) {
							new_questionsList.push(new_question);
						}
						new_questionsList.push(element);
					}

					questionnaire.question = new_questionsList;
				},

				deleteQuestionWarning(questionPos) {
					this.deleteQuestionId = questionPos;
					this.deleteQuestionTitle = this.viewQuestionnaire.question[questionPos].body;
					console.log(this.deleteQuestionTitle)
				},

				deleteQuestion() {
					console.log("deleting question id:", this.deleteQuestionId)
					this.viewQuestionnaire.question.splice(Number(this.deleteQuestionId), 1)
				},

				removeOption(question, opt_index) {
					question.option.splice(Number(opt_index), 1);
				},

				addOption(question) {
					question.option.push({ body: "", continuation_questionnaire: null });
				}

			},
		}).$mount('#admin-dashboard');

	</script>

{% endblock dashboardPage %}