{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
	Welcome {{ request.user.first_name }} !
{% endblock title %}

{% block pagecss %}
	<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home-admin/style.css' %}">
{% endblock pagecss %}

{% block dashboardPage %}
	<div  id="admin-dashboard">
		<!-- Begin Page Content -->
		<div class="container">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">Dashboard - Admin</h1>
				<div class="float-right">
					<!-- <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
						<i class="fas fa-th-large"></i>
					</a> -->
				</div>
			</div>
			
			<div class="row">
				<div class="col-8">
					<div class="card shadow mb-4" v-if="viewQuestionnaire != null">
						<!-- Card Header - Dropdown -->
						<div id="formFooter" class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
							<div class="col-12 align-items-center center">
								<h6 class="m-0 font-weight-bold">
									[[ viewQuestionnaire.name ]]
									<button class="btn btn-dark float-right ml-3" v-on:click="addQuestion(viewQuestionnaire, viewQuestionnaire.question.length)" title="Add a question at the end">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
									
									<button href="#renameQuestionnaireModal" class="btn btn-dark trigger-btn float-right" data-toggle="modal" title="Edit Name">
										<i class="fas fa-edit" style="color: #ffc038;"></i>
									</button>
								</h6>
							</div>
						</div>
						

						<!-- Card Body -->
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<draggable v-model="viewQuestionnaire.question" group="question" @start="drag=true" @end="drag=false">
										<div class="card mb-3" style="border: none;" v-for="(question, q_idx) in viewQuestionnaire.question" :key="q_idx">
											<div class="card-header py-6" style="background-color: #fff2bf;">
												<div class="float-right">
													<div class="row">

														<div v-if="!question.editMode">
															<button class="btn btn-dark" v-on:click="editQuestion(question)" title="Edit the question below">
																<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
															</button>
															<button class="btn btn-dark" v-on:click="addQuestion(viewQuestionnaire, q_idx+1)" title="Add a question below">
																<i class="fa fa-plus" aria-hidden="true"></i>
															</button>

															<button href="#deleteQuestionModal" class="btn btn-dark trigger-btn" data-toggle="modal" v-on:click="deleteQuestionWarning(q_idx)" title="Delete this question">
																<i class="fas fa-trash-alt" aria-hidden="true"></i>
															</button>
														</div>
														<div v-if="question.editMode" class="row center">
															<div class="col-12 col-md-4 center" style="padding: 0px">
																<button class="btn btn-dark" v-if="question.editMode" v-on:click="saveQuestion(question)" title="Edit the question below" style="width: 100%;">
																	Save Question
																</button>
															</div>

															<div class="col-12 col-md-4 center" style="padding: 0px">
																<div class="btn-dark form-group mb-0"  style="padding: 6px 12px" style="width: 100%;">
																	Multiselect: 
																	<input 
																		type="checkbox" 
																		class="toggle-input"
																		v-model="question.multiselect">
																</div>
															</div>

															<div class="col-12 col-md-4 center" style="padding: 0px">
																<button class="btn btn-dark" v-on:click="addOption(question)" title="Add an option below" style="width: 100%;">
																	Add option
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<form>
												<div class="card-header py-6" style="background-color: white;">
													<h5><b> 
														<div v-if="question.editMode">
															<input type="text" :value="question.body" v-model="question.body" style="width: 100%;">
														</div>
														<div v-else>
															<i class="fa fa-bars" aria-hidden="true"></i> 
															[[ question.body ]]
														</div>
													</b></h5>
												</div>
													
													
												<div class="card-body form-check">
													<div class="form-check mt-1" style="padding-top:0px">
														
														<div v-if="question.editMode">
															<div class="container" v-for="(opt, opt_index) in question.option" :key="opt_index"> 
																<div class="row">
																	<div class="col-10">
																		<input type="text" :value="opt.body" v-model="opt.body" style="width: 100%;">
																	</div>
																	<!-- <div class="col-2"> -->
																		<a class="btn btn-dark" title="Remove Option" v-on:click="removeOption(question, opt_index)">
																			<i class="fas fa-trash-alt" aria-hidden="true" style="color: #ffc038;"></i>
																		</a>
																	<!-- </div> -->
																</div>
															</div>
														</div>
														<ul v-else v-for="opt in question.option">
															<li> [[ opt.body ]] </li>
														</ul>
													</div>
												</div>
											</form>
										</div>
									</draggable>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<!-- <div class="item-container"> -->
						<!-- Dropdown Card Example -->
						<div class="card shadow mb-4">
							<!-- Card Header - Dropdown -->
							<div id="formFooter" class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
								<div class="col-12 align-items-center center">
									<h6 class="m-0 font-weight-bold"> Questionnaires List
										<button class="btn btn-dark float-right" href="#addQuestionnaireModal" data-toggle="modal" title="Add a question at the end">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</button>
									</h6>
								</div>
							</div>
							<!-- Card Body -->
							<div class="card-body">

								<div class="row" v-for="(questionnaire, index) in questionnairesList" :key="index">
									<div class="col-12 center">
										<button class="btn btn-dark" v-on:click="showQuestionnaire(questionnaire, index)">
											[[ questionnaire.name ]]
										</button>
										<button href="#deleteQuestionnaireModal" v-if='index!=0' class="btn btn-dark trigger-btn" data-toggle="modal" title="Remove this Questionnaire" v-on:click="deleteQuestionnaireWarning(index)">
											<i class="fas fa-trash-alt" style="color: red;"></i>
										</button>
									</div>
								</div>
								
							</div>

						</div>
					<!-- </div> -->
				</div>
			</div>
			
		</div>
		<!-- End of Main Content -->
		
		<!-- Delete Question Modal HTML -->
		<div id="deleteQuestionModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					
					<div class="modal-header flex-column">
						<div class="icon-box" >
							<i class="fas fa-trash-alt"></i>
						</div>						
						<h4 class="modal-title w-100">Are you sure?</h4>	
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete the question titled, " [[ deleteQuestionTitle ]] "? This process cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color:#262626;">Cancel</button>
						<button type="button" class="btn btn-danger" v-on:click="deleteQuestion()" style="background-color:#ffc038;"> Delete</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Delete Questionnaire Modal HTML -->
		<div id="deleteQuestionnaireModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					
					<div class="modal-header flex-column">
						<div class="icon-box" >
							<i class="fas fa-trash-alt"></i>
						</div>						
						<h4 class="modal-title w-100">Are you sure?</h4>	
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete the questionnaire no, [[ deleteQuestionnaireId + 1 ]]? This process cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color:#262626;">Cancel</button>
						<button type="button" class="btn btn-danger" v-on:click="deleteQuestionnaire()" style="background-color:#ffc038;"> Delete</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Rename Questionnaire Modal HTML -->
		<div id="renameQuestionnaireModal" class="modal fade" v-if="viewQuestionnaire">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content container">
					<div class="modal-header flex-column">
						<div class="icon-box" >
							<i class="fas fa-pencil-square-o"></i>
						</div>						
						<h4 class="modal-title w-100">Enter the new title for the questionnaire titled, "[[ viewQuestionnaire.name ]]" :</h4>	
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<form class="col-12">
						<div class="modal-body">
							<div class="form-group custom-control">
								<div class="row justify-content-center">
									<input 
									required
									id="renameQuestionnaireNameID"
									type="text"
									v-model="newQuestionnaireName"
									placeholder="e.g. New Questionnaire">
								</div>
							</div>							
						</div>
						<div class="modal-footer justify-content-center">
							<button type="button" class="btn btn-primary" v-on:click="renameQuestionnaire()" style="background-color:#ffc038;">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Add Questionnaire Modal HTML -->
		<div id="addQuestionnaireModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content container">
					<div class="modal-header flex-column">
						<div class="icon-box">
							<i class="fas fa-plus" style="color: #ffc038;"></i>
						</div>						
						<h4 class="modal-title w-100">Enter the name of the new questionnaire:</h4>	
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<form class="col-12">
						<div class="modal-body">
							<div class="form-group custom-control">
								<div class="row justify-content-center">
									<input 
										required
										id="newQuestionnaireNameID"
										type="text"
										v-model="newQuestionnaireName"
										placeholder="e.g. Questionnaire 1">
									
								</div>
								<div class="row justify-content-center mt-2">
									<label for="newQuestionnairePhase" class="mr-2 mb-0" style="color:#858796;">Select Phase: </label>
									<select
										required
										id="newQuestionnairePhase"
										type="Number"
										v-model="newQuestionnairePhase"
										placeholder="1">

										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>

									</select>
								</div>
							</div>							
						</div>
						<div class="modal-footer justify-content-center">
							<button type="button" class="btn btn-primary" v-on:click="addQuestionnaire()" style="background-color:#ffc038;">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<style>

	</style>

	<script>

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		new Vue({
			delimiters: ["[[", "]]"],
			data() {
				return {
					temp: true,
					message: "HAAAAAAAAA",
					viewQuestionnaire: null,
					viewQuestionnaireId: null,
					newQuestionnaireName: null,
					newQuestionnairePhase: null,
					deleteQuestionId: null,
					deleteQuestionnaireId: null,
					deleteQuestionTitle: null,
					rootQuestionnaire: null,
					questionnairesList: [],
				}
			},
			created() {
				this.getQuestionnaireAdmin();
			},
			methods: {
				getQuestionnaireAdmin(evt) {
					this.questionnairesList = []
					axios.get(`{% url 'api-questionnaire-get-all-questionnaires' %}`)
					.then( response => {
						const data = response.data;

						data.forEach(element => {
							let questionnaire = {
								identifier: element.identifier,
								root: element.root,
								name: element.name,
								editMode: false,
								phase: element.phase,
								question: []
							}

							element.question.forEach(ques => {
								let question = {
									identifier: ques.identifier,
									editMode: false,
									body: ques.body,
									multiselect: ques.multiselect,
									type: "radio",
									selected: [],
									option: []
								}
								
								ques.option.forEach(opt => {
									let newOption = {
											identifier: opt.identifier,
											body: opt.body,
											continuation_questionnaire: opt.continuation_questionnaire,
										}
									question.option.push(newOption);
								})

								questionnaire.question.push(question);
							})

							this.questionnairesList.push(questionnaire);
						});
						console.log(this.questionnairesList)
						
					})
					.catch(e => {
						alert("Error");
						console.log(e)
					})
				},
				
				showQuestionnaire(questionnaire, index) {
					this.viewQuestionnaire =  questionnaire,
					this.viewQuestionnaireId = index;
				},

				showQuestionnaireById() {
					console.log('show questionnaire', this.viewQuestionnaireId)
					this.viewQuestionnaire = this.questionnairesList[this.viewQuestionnaireId];
				},

				editQuestion(question) {
					question.editMode = true;
					console.log("Edit question:", question)
				},

				saveQuestion(question) {

					const body = {
						body: question.body,
					}
					console.log(body)

					var questionID = question.identifier;
					question.questionnaire = this.viewQuestionnaire.identifier
					axios.post(`{% url 'api-question-update-question' %}?identifier=` + questionID.toString(), question, {
						headers: {
							'X-CSRFTOKEN': getCookie('csrftoken')
						},
					})
					.then(response => {
						question.name = response.data.name;	
						question.editMode = false;
						console.log("Save question:", question)

						question.option.forEach(opt => {
							let newOption = {
								identifier: opt.identifier,
								body: opt.body,
								continuation_questionnaire: opt.continuation_questionnaire,
								question: question.identifier
							};

							axios.post(`{% url 'api-option-update-option' %}?identifier=` + opt.identifier.toString(), newOption, {
								headers: {
									'X-CSRFTOKEN': getCookie('csrftoken')
								},
							})
							.then(response => {
								
							})
							.catch(e => {
								alert("Error in option update", newOption);
								this.errors.push(e);
								this.selected = []
								this.tempResponses.pop();
							})
						})
						

					})
					.catch(e => {
						alert("Error in question update");
						this.errors.push(e);
						this.selected = []
						this.tempResponses.pop();
					})

				},

				renameQuestionnaire() {
					if (this.newQuestionnaireName === "") {
						alert('Please enter the new name!')
					} else {

						var body = {
							name: this.newQuestionnaireName,
							phase: this.viewQuestionnaire.phase,
						};

						console.log(this.viewQuestionnaire)
						
						var questionnaireID = this.viewQuestionnaire.identifier;
						axios.post(`{% url 'api-questionnaire-update-questionnaire' %}?identifier=` + questionnaireID.toString(), body, {
							headers: {
								'X-CSRFTOKEN': getCookie('csrftoken')
							},
						})
						.then(response => {
							$('#renameQuestionnaireModal').modal('toggle');
							this.viewQuestionnaire.name = this.newQuestionnaireName;
						})
						.catch(e => {
							alert("Error");
							this.errors.push(e);
							this.selected = []
							this.tempResponses.pop();
						})
						
					}
				},

				addQuestionnaire() {
					console.log(this.questionnairesList, this.newQuestionnaireName)

					if (this.newQuestionnaireName == null || this.newQuestionnairePhase == null) {
						alert('Please fill the details!')
					} else {
						
						questionnaire_count = this.questionnairesList.length;
						new_questionnaire = {
							name: this.newQuestionnaireName,
							phase: this.newQuestionnairePhase,
							root: false,
						}

						axios.post(`{% url 'api-questionnaire-add-questionnaire' %}`, new_questionnaire, {
							headers: {
								'X-CSRFTOKEN': getCookie('csrftoken')
							},
						})
						.then(response => {
							$('#addQuestionnaireModal').modal('toggle');
							this.newQuestionnairePhase = null;
							this.newQuestionnaireName = null;
							
							this.getQuestionnaireAdmin();
						})
						.catch(e => {
							alert("Error");
							this.errors.push(e);
							this.selected = []
							this.tempResponses.pop();
						})						
					}
					return; 
				},

				addQuestion(questionnaire, questionPos) {
					console.log("Adding new question at pos: ", questionPos)
					new_question = {
						body: "Default Question",
						multiselect: false,
						position: questionPos,
						questionnaire: this.viewQuestionnaire.identifier
					}
					axios.post(`{% url 'api-question-add-question' %}`, new_question, {
						headers: {
							'X-CSRFTOKEN': getCookie('csrftoken')
						},
					})
					.then(response => {
						console.log(response)
						new_question.identifier = response.data.identifier;
						new_question.body = response.data.body;
						new_question.selected = [];
						new_question.editMode = false;
						new_question.option = []

						if (questionPos == questionnaire.question.length) {
							questionnaire.question.push(new_question);
							return;
						}
						new_questionsList = []
						for (let i = 0; i < questionnaire.question.length; i++) {
							const element = questionnaire.question[i];
							if (questionPos == i) {
								new_questionsList.push(new_question);
							}
							new_questionsList.push(element);
						}

						questionnaire.question = new_questionsList;
					})
					.catch(e => {
						alert("Error");
						this.errors.push(e);
						this.selected = []
						this.tempResponses.pop();
					})
				},

				deleteQuestionWarning(questionPos) {
					this.deleteQuestionId = questionPos;
					this.deleteQuestionTitle = this.viewQuestionnaire.question[questionPos].body;
				},

				deleteQuestion() {
					var questionID = this.viewQuestionnaire.question[this.deleteQuestionId].identifier;
					axios.post(`{% url 'api-question-delete-question' %}?identifier=` + questionID.toString(), null , {
						headers: {
							'X-CSRFTOKEN': getCookie('csrftoken')
						},
					})
					.then(response => {
						$('#deleteQuestionModal').modal('toggle');
						this.viewQuestionnaire.question.splice(Number(this.deleteQuestionId), 1)
						this.deleteQuestionId = null;
						this.deleteQuestionTitle = null;
					})
					.catch(e => {
						alert("Error");
						this.errors.push(e);
						this.selected = []
						this.tempResponses.pop();
					})
					
				},

				removeOption(question, opt_index) {

					var optionID = question.option[opt_index].identifier;
					axios.post(`{% url 'api-option-delete-option' %}?identifier=` + optionID.toString(), null , {
						headers: {
							'X-CSRFTOKEN': getCookie('csrftoken')
						},
					})
					.then(response => {
						question.option.splice(Number(opt_index), 1);
					})
					.catch(e => {
						alert("Error");
						this.errors.push(e);
						this.selected = []
						this.tempResponses.pop();
					})
				},

				deleteQuestionnaireWarning(index) {
					this.deleteQuestionnaireId = index;
					console.log("Warning ", index)
				},
				
				deleteQuestionnaire() {
					var questionnaireID = this.questionnairesList[this.deleteQuestionnaireId].identifier;
					axios.post(`{% url 'api-questionnaire-delete-questionnaire' %}?identifier=` + questionnaireID.toString(), null , {
						headers: {
							'X-CSRFTOKEN': getCookie('csrftoken')
						},
					})
					.then(response => {
						$('#deleteQuestionnaireModal').modal('toggle');
						this.questionnairesList.splice(Number(this.deleteQuestionnaireId), 1);
						this.deleteQuestionnaireId = null;
						this.viewQuestionnaire = null;
						this.viewQuestionnaireId = null;

					})
					.catch(e => {
						alert("Error");
						this.errors.push(e);
						this.selected = []
						this.tempResponses.pop();
					})

				},

				addOption(question) {

					console.log("Adding new option")
					new_option = {
						body: "Default Option",
						question: question.identifier,
						continuation_questionnaire: null
					}
					axios.post(`{% url 'api-option-add-option' %}`, new_option, {
						headers: {
							'X-CSRFTOKEN': getCookie('csrftoken')
						},
					})
					.then(response => {
						console.log(response)
						new_option.identifier = response.data.identifier;
						new_option.body = response.data.body;
						
						question.option.push(new_option);
					})
					.catch(e => {
						alert("Error");
						this.errors.push(e);
						this.selected = []
						this.tempResponses.pop();
					})
				}

			},
		}).$mount('#admin-dashboard');

	</script>

{% endblock dashboardPage %}

<!-- questionnairesList: [
						{
							name: "Questionnaire 0",
							root: false,
							editMode: false,
							phase: 1,
							question: [
								{
									editMode: false,
									body: "P1 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P1 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P1 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P1 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P1 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						},
						{
							name: "Questionnaire 1",
							root: false,
							phase: 2,
							question: [
								{
									editMode: false,
									body: "P2 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P2 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P2 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P2 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P2 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						},
						{
							name: "Questionnaire 2",
							root: false,
							phase: 3,
							question: [
								{
									editMode: false,
									body: "P3 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P3 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P3 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P3 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P3 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						},
						{
							name: "Questionnaire 3",
							root: false,
							phase: 4,
							question: [
								{
									editMode: false,
									body: "P4 q1",
									type: "checkbox",
									selected: [],
									option: [
										{
											body: "P4 q1 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q1 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q1 o3",
											continuation_questionnaire: null,
										}
									]
								},
								{
									editMode: false,
									body: "P4 q2",
									type: "radio",
									selected: [],
									option: [
										{
											body: "P4 q2 o1",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q2 o2",
											continuation_questionnaire: null,
										},
										{
											body: "P4 q2 o3",
											continuation_questionnaire: null,
										}
									]
								}
							]
						}
					], -->