{% load static %}

{% block footer %}

<div id="footer" class="col-12 remove-pad">
	<div class="container-fluid pb-0 mb-0 justify-content-center text-light footer-border">
		<footer>
			<div class="row justify-content-center py-4">
				<div class="col-11">
					<div class="row">
						<div class="col-xl-6 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
								<h3 class="text-muted mb-md-0 mb-5 bold-text">CareerShala</h3>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-4 col-12">
							<h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
							<ul class="list-unstyled">
								<li>
									<a  href="{% url 'homepage' %}">Home</a>
								</li>
								<li>
									<a  href="{% url 'homepage'%}#about">About</a>
								</li>
								{% if user.is_authenticated %}
								<li>
									<a  href="{% url 'dashboard-home' %}">Dashboard</a>
								</li>
								<li>
									<a  href="{% url 'users-profile' %}">Profile</a>
								</li>
								{% else %}
								<li>
									<a  href="{% url 'users-login' %}">Login</a>
								</li>
								{% endif %}
							</ul>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-4 col-12">
							<h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
							<p class="mb-1">62A/104, Lane 2, Westend Marg, Saidulajab, Saket</p>
							<p>New Delhi-110030</p>
						</div>
					</div>
					<div class="row ">
						<div class="col-xl-6 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
							<p class="social text-muted mb-0 pb-0 bold-text"> 
								<a href="https://www.facebook.com/UnlockMyPotential/" target="tab"><span class="mx-2"><i class="fa fa-facebook-square" aria-hidden="true"></i></span></a> 

								<a href="https://www.linkedin.com/company/alohomora-education/" target="tab"><span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> </a>

								<a href="https://twitter.com/AlohomoraW" target="tab"><span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span></a> 

								<a href="https://www.instagram.com/alohomora_education/" target="tab"><span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span></a> 

							</p>
							<small class="rights"><span>&#174;</span> Alohomora All Rights Reserved.</small>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
							<h6 class="text-muted bold-text"><b>Contact us at:</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href="mailto:hello@alohomora.org">hello@alohomora.org</a></small>
						</div>
						
					</div>
				</div>
			</div>
		</footer>
	</div>

</div>

<style>
	.footer-border {
		border-top-style: solid;
		border-top-width: 5px;
		border-color: #ffc038;
	}
</style>

{% endblock footer%}