{% load static %}
{% block navBar %}

<div class="col-12 remove-pad">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top remove-pad-vert navbar-background">
    <img src="{% static 'images/alohomora-logo.png' %}" class="d-inline-block align-top" alt="Alohomora" height="80px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-dark giveMargin" href="/#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark giveMargin" href="/#about">About</a>
        </li>
        {% if user.is_authenticated %}
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
                <a class="nav-link btn btn-dark giveMargin dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2">Hi {{ request.user.first_name }}!</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'dashboard-home' %}">
                        <i class="fas fa-fw fa-tachometer-alt mr-2"></i>
                        Dashboard
                    </a>
                    <a class="dropdown-item" href="{% url 'users-profile' %}">
                        <i class="fa fa-user fa-sm fa-fw mr-2"></i>
                        Profile
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'users-logout' %}" >
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                        Logout
                    </a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-dark giveMargin" href="{% url 'users-login' %}">Login</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<style>
  .navbar-background {
    padding-top: 0px; 
    padding-bottom: 0px; 
    background: white;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #262626;
  }

</style>

{% endblock navBar%}
