{% load static %}
{% block navBar %}

<div id="navbar" class="col-12 remove-pad">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top navbar-background">

    <!-- <div class="row"> -->

      <!-- <div class="col-2"> -->
        <button id="sidebar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#accordionSidebar" aria-controls="accordionSidebar" aria-expanded="false" aria-label="Toggle sidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
      <!-- </div> -->

      <!-- <div class="col-8"> -->
        <img id="alohomora-logo" src="{% static 'images/Alohomora.jpg' %}" class="d-inline-block align-top" alt="Alohomora">
      <!-- </div> -->
      
      <!-- <div class="col-2"> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <!-- </div> -->
    <!-- </div> -->

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-dark giveMargin" href="/#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark giveMargin" href="/#about">About</a>
        </li>
        {% if user.is_authenticated %}
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
                <a class="nav-link btn btn-dark giveMargin dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2">Hi {{ request.user.first_name }}!</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'dashboard-home' %}">
                        <i class="fas fa-fw fa-tachometer-alt mr-2"></i>
                        Dashboard
                    </a>
                    <a class="dropdown-item" href="{% url 'users-profile' %}">
                        <i class="fa fa-user fa-sm fa-fw mr-2"></i>
                        Profile
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'users-logout' %}" >
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                        Logout
                    </a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-dark giveMargin" href="{% url 'users-login' %}">Login</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<style>
  .navbar-background {
    padding-top: 0px; 
    padding-bottom: 0px; 
    background: #262626;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #ffc038;
  }

  #alohomora-logo {
    max-width: 100%;
    max-height: 80px;
    display: block;
    border: 5px solid #ffc038;
    border-radius: 10px;
    margin: 5px;
  }

</style>

{% endblock navBar%}
