{% load static %}

<!-- Sidebar -->
    <ul class="show navbar-nav ml-auto sidebar sidebar-dark " id="accordionSidebar" style="background: #262626;">
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboard-home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        {% if user.is_expert %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCert"
                    aria-expanded="true" aria-controls="collapseCert">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Courses</span>
                </a>

                <div id="collapseCert" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item mb-2" href="{% url 'blog-add-post' type=1 %}">Add an Article</a>
                        <a class="collapse-item mb-2" href="#">My Articles</a>
                        <a class="collapse-item" href="{% url 'dashboard-opportunities' type=1 %}">All Articles</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-newspaper" aria-hidden="true"></i>
                    <span>Articles</span>
                </a>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item mb-2" href="{% url 'blog-add-post' type=2 %}">Add a Course</a>
                        <a class="collapse-item mb-2" href="#">My Courses</a>
                        <a class="collapse-item" href="{% url 'dashboard-opportunities' type=2 %}">All Courses</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProject"
                    aria-expanded="true" aria-controls="collapseProject">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <span>Projects</span>
                </a>

                <div id="collapseProject" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item mb-2" href="{% url 'blog-add-post' type=3 %}">Add a Job</a>
                        <a class="collapse-item mb-2" href="#">My Jobs</a>
                        <a class="collapse-item" href="{% url 'dashboard-opportunities' type=3 %}">All Jobs</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseJob"
                    aria-expanded="true" aria-controls="collapseJob">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>Jobs</span>
                </a>

                <div id="collapseJob" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item mb-2" href="{% url 'blog-add-post' type=4 %}?">Create an Project</a>
                        <a class="collapse-item mb-2" href="#">My Projects</a>
                        <a class="collapse-item" href="{% url 'dashboard-opportunities' type=4 %}?">All Projects</a>
                    </div>
                </div>
            </li>            

            {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>Opportunities</span>
                </a>
                
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item mb-2" href="{% url 'dashboard-opportunities' type=1 %}">Articles</a>
                        <a class="collapse-item mb-2" href="{% url 'dashboard-opportunities' type=2 %}">Courses Offered</a>
                        <a class="collapse-item mb-2" href="{% url 'dashboard-opportunities' type=3 %}">Jobs Offered</a>
                        <a class="collapse-item mb-2" href="{% url 'dashboard-opportunities' type=4 %}">Projects</a>
                    </div>
                </div>
            </li>
            {% endif %}
        </li>

    </ul>

<style>

</style>

<!-- End of Sidebar -->
