article, aside, figcaption, figure, header, hgroup, main, section {
  display: block;
}

.page-section {
  padding: 8rem 0;
}

.section-color {
  background-color: #ffc038;
  color: #343a40;
}

.btn-dark {
  color:  #ffc038;
  background-color: #343a40;
  border-color: #343a40;
}

.text-yellow {
  color:  #ffc038;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.btn-custom {
  background-color: white;
  color: #343a40;
}

.card-padding {
  padding-top: 6%;
}

@media (max-width: 800px) {
  .card-padding {
    padding-top: 0px;
  }
}
